@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'SanFrancisco';
  src: url('../fonts/SFUIDisplay-Regular.otf') format('otf');
      
  font-weight: 800;
  font-style: bold;
}

.drop-shadow-custom {
  filter: drop-shadow(0 0 4em rgba(255, 254, 254, 0.9)); 
}